.button-detail{
    width: 100%;
    background: #243a76;
    color: #fff;
    padding: 6px 0;
    margin: 10px 0 0;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    border: 1px solid #243a76;
    border-radius: 4px;
}