.gallery {
    &__item {
        width: 80px;
        height: 80px;
        border: 1px solid #eeeeef;
    }
}

.slick-dots {
    bottom: -80px;
    li {
        width: 80px;
        height: 80px;
    }
}

.slick-prev {
    left: -30px;
}

.slick-prev, .slick-next {
    &::before {
        font-size: 30px;
        color: red;
    }
}